.container{
    display: flex;
}
#receipt-table{
    width: 70%;
}
#receipt-table {
    border-collapse: collapse;
    padding-top: 70%;
    padding-bottom: 70%;
}
.receipts{
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}
#receipt-table td, #receipt-table th {
    border: 1px solid #ddd;
    padding: 14px;
}
#receipt-table tr:nth-child(even){
    background-color: #f2f2f2;
}
#receipt-table tr:hover {
    background-color: #ddd; cursor:pointer
}
#receipt-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #960000;
    color: white;
}
.receipt-details, .add-receipt{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
#receipt-table{
    table-layout: auto;
    width: 100%;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.back-btn{
    width: 30%;
    float: right;
}
.search-box{
    width: 70%;
    display: block;
    margin: 0 auto 65px auto;
    padding: 12px;
    background-color:  white;
    color: black;
}
input::placeholder{
    color: #353333;
}
#filter {
    background-image: url('./images-logo/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid black;
    margin-bottom: 12px;
}
.new-receipt{
    margin-bottom: 50px;
}
.add-receipt input[type=text], 
.add-receipt input[type=email],
.add-receipt input[type=date],
.add-receipt select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.add-receipt input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add-receipt input[type=submit]:hover {
    background-color: #45a049;
}
div.add-receipt{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
div.add-new{
    width: 50%;
}
.add-new h2{
    color: #b50000;
}
.catchphrase-btn.submit{
    border-radius:13px;
    cursor: pointer;
}
@media only screen and (max-width : 1440px){
    .menu-nav {
        overflow: revert;
    }
}
@media only screen and (max-width: 1024px) {
    #receipt-table{
        width: 100%;
        padding:0;
        margin-left: auto;
        margin-right: auto;
    }
    .receipt-details .row h2, 
    .receipt-details .row h3, 
    .receipt-details table{
        margin-left: 25px;
        margin-right: 25px;
    }
    .new-receipt {
        margin-bottom: 35px;
        margin-left: 30px;
    }
    .container{
        display: block;
    }
    div.add-new {
        width: 70%;
    }
    .menu-nav{
        overflow: hidden;
    }
}
@media only screen and (max-width: 768px)  {
    #receipt-table{
        width: 90%;
        padding:0;
        margin-left: auto;
        margin-right: auto;
    }
    .container{
        display: block;
    }
    .menu-nav.other-menu {
        width: 100%;
    }
    .new-receipt {
        margin-bottom: 35px;
        margin-left: 30px;
    }
    .catchphrase-btn{
        padding: 10px 22px;
    }
    #receipt-table, 
    .receipt-list thead, 
    .receipt-list tbody, 
    .receipt-list th, 
    .receipt-list td, 
    .receipt-list tr {
        display: block;
    }
    .receipt-list thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .receipt-list tr {
      margin: 0 0 1rem 0;
    }    
    .receipt-list tr:nth-child(odd) {
      background: #ccc;
    }   
    .receipt-list td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    .receipt-list td:before {
        position: absolute;
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    div.add-new {
        width: 93%;
    }
    div.catchphrase-btn.back-btn{
        float: inherit;
    }
    .receipt-list td:nth-of-type(1):before { content: "Business Name"; }
    .receipt-list td:nth-of-type(2):before { content: "Purchase Date"; }
    .receipt-list td:nth-of-type(3):before { content: "Phone Number"; }
    .receipt-list td:nth-of-type(4):before { content: "Email"; }
    .receipt-list td:nth-of-type(5):before { content: "Type"; }
    .receipt-list td:nth-of-type(6):before { content: "Due Date"; }
    .receipt-list td:nth-of-type(7):before { content: "Total Amount"; }
}
@media only screen and (max-width: 540px)  {
    input#filter{
        font-size: small;
    }
    .receipt-details .row h2, .receipt-details .row h3{
        margin-left: 25px;
        margin-right: 25px;
    }
}