:root {
    --red-bg-color: rgb(232, 3, 3);
    --btn-sole-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1000ms;
    --btn-big-bg-color: rgb(255, 196, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.support-section {
    padding: 10px 50px;
    background-color: black;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.support-section i {
    color: red;
    font-size: 20px;
}

.nav {
    /* position: fixed; */
    width: 100%;
    z-index: 5;
    border: 1px solid;
    /* padding: 10px 50px; */
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
    padding: 20px 50px;
    box-shadow: 0 0 20px black;
}

#brand-logo img {
    height: 45px;
}

.nav-toggler {
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0;
    background-color: inherit;
    transition: var(--btn-sole-transition);
}

.nav-toggler:hover {
    /* transform: skew(15deg, 15deg); */
    /* transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1000ms; */
    transform: rotate(450deg);
}

.menu-nav {
    padding: 20px 50px;
    font-weight: 600;
    /* display: none; */
}

.menu-nav__list {
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    list-style-type: none;
    border-bottom: 2px solid #ddd;
}

.menu-nav__link {
    /* border: 1px solid; */
    display: block;
    padding: 20px 0;
}

/* .menu-btn {
    text-align: center;
    display: flex;
    justify-content: center;
} */

.menu-btn__sign {
    border: 1px solid var(--red-bg-color);
    padding: 10px 30px;
    border-radius: 2%;
    transition: var(--btn-sole-transition);
}

.menu-btn .menu-btn__sign:nth-of-type(2) {
    margin-left: 5px;
    background-color: var(--red-bg-color);
    color: white;
}

.menu-btn .menu-btn__sign:first-of-type:hover,
.menu-btn .menu-btn__sign:nth-of-type(2):hover {
    background-color: #333;
    color: white;
}

header {
    background: linear-gradient(to top, red, darkred, rgb(49, 1, 16))
}

.brand-logo-rotate {
    text-align: center;
    margin-bottom: 30px;
    padding: 5px;
    /* box-shadow: 0 2px 0 0 white; */
    border-bottom: 1px solid #eee;
}

.brand-logo-rotate img {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */

}

@keyframes rotate {
    100% {
        transform: rotate(720deg);
    }
}

.catchphrases {
    max-width: 900px;
    padding: 50px;
    /* border: 1px solid; */
    margin: 0 auto;
    color: white;
}

.catchphrases h5 {
    margin: 20px 0;
}

.catchphrases h2 {
    line-height: 35px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.catchphrase-btn {
    display: inline-block;
    border: 1px solid;
    margin-top: 20px;
    padding: 10px 50px;
    text-align: center;
    background-color: rgba(255, 196, 0, 0.659);
    position: relative;
    z-index: 0;
    /* color: white; */
}

.catchphrase-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--btn-big-bg-color);
    z-index: -1;
    transition: var(--btn-sole-transition);
}

.catchphrase-btn:hover::after {
    width: 100%;
}

.register-account {
    padding: 50px;
    background: linear-gradient(to bottom, red, darkred, rgb(49, 1, 16))
}

.form-terms-policy {
    max-width: 600px;
    margin: 0 auto;
}

.register-account h2 {
    margin-bottom: 25px;
    color: white;
}

.register-form {
    display: grid;
    grid-gap: 15px
}

.register-account input {
    padding: 15px;
    outline: none;
    font-style: italic;
}

.register-account .catchphrase-btn {
    margin-top: 0;
}

.register-account p {
    color: white;
    margin-top: 20px;
}

.register-account p a {
    text-decoration: underline;
    color: var(--btn-big-bg-color);
}

.plans {
    display: grid;
    grid-gap: 20px;
    padding: 20px 50px;
}

.plan-template {
    border: 1px solid;
    height: 250px;
}

.plan-template h5 {
    padding: 10px;
    border: 1px solid;
    background-color: #bbb;
}

.plan-template .functionalities {
    padding: 10px 30px;
}